{% extends 'inside.html.twig' %}

{% block title %}Create CanalDemande{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Ajouter CanalDemande</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nom, 'Nom') }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.isActive, 'IsActive') }}
        {{ form_widget(form.isActive, {'attr': {'class': 'form-check-input'}}) }}
    </div>
    <button type="submit" class="btn btn-success mt-3">Create</button>
    <a href="{{ path('app_canal_index') }}" class="btn btn-secondary mt-3">Retour</a>
    {{ form_end(form) }}
{% endblock %}
