{% extends 'inside.html.twig' %}

{% block title %}Détails CanalDemande{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Détails CanalDemande</h1>

    <table class="table table-bordered">
        <tr>
            <th>Numéro</th>
            <td>{{ canal_demande.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ canal_demande.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ canal_demande.description }}</td>
        </tr>
        <tr>
            <th>IsActive</th>
            <td>{{ canal_demande.isActive ? 'Yes' : 'No' }}</td>
        </tr>
    </table>

    <div class="mt-3">
        <a href="{{ path('app_canal_index') }}" class="btn btn-secondary">Retour</a>
        <a href="{{ path('app_canal_demande_edit', {'id': canal_demande.id}) }}" class="btn btn-warning">Modifier</a>
    </div>
{% endblock %}
