{% extends 'inside.html.twig' %}

{% block title %}Permission index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block main %}
    <h1>Permission index</h1>

    <a href="{{ path('app_permission_new') }}" class="btn btn-success mt-3">Ajouter</a>
    <table id="permissions-table" class="table display">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                <td>{{ permission.id }}</td>
                <td>{{ permission.nom }}</td>
                <td>{{ permission.description }}</td>
                <td>
                    <a href="{{ path('app_permission_show', {'id': permission.id}) }}" class="btn btn-primary btn-sm">Show</a>
                    <a href="{{ path('app_permission_edit', {'id': permission.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        // import $ from 'jquery';
        if (typeof window.jQuery === 'undefined') {
            window.$ = window.jQuery = $;
        }

        $(document).ready(function() {
            console.log('Document prêt');
       
            $('#permissions-table').DataTable({
                "language": {
                    "url": "" // Pour la traduction française
                }
            });
            // $('#permissions-table').DataTable();
        });
    </script>
{% endblock %}
