{% extends 'inside.html.twig' %}
{% block title %}Règle{% endblock %}
{% block main %}
<div class="container-fluid mt-4">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h2 class="mb-0">
                <i class="me-1 fas fa-gavel me-2"></i>Détails Règle
            </h2>
            <span class="badge bg-light text-primary">ID: {{ permission.id }}</span>
        </div>
        <div class="card-body">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <i class="me-1 fas fa-bars me-2"></i>Informations de la Règle
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="fw-bold">Numéro</span>
                            <span>{{ permission.id }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="fw-bold">Nom</span>
                            <span>{{ permission.nom }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="fw-bold">Description</span>
                            <span>{{ permission.description }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <a href="{{ path('app_permission_edit', {'id': permission.id}) }}" class="btn btn-warning">
                    <i class="me-1 fas fa-edit me-2"></i>Modifier
                </a>
                <form method="post" action="{{ path('app_permission_delete', {'id': permission.id}) }}" onsubmit="return confirm('Est tu sur de supprimer?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ permission.id) }}">
                    <button class="btn btn-danger me-2">Supprimer</button>
                </form>
            </div>
            <a href="{{ path('app_permission_index') }}" class="btn btn-secondary me-2">
                <i class="me-1 fas fa-arrow-left me-2"></i>Retour
            </a>
        </div>
    </div>
</div>
{% endblock %}