{% extends 'inside.html.twig' %}

{% block title %}Modifier TypeDemande{% endblock %}

{% block main %}
    <h1>Modifier TypeDemande</h1>
        {{ form_start(form) }}
        
        <div class="mb-3">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.isActive) }}
            {{ form_widget(form.isActive, {'attr': {'class': 'form-check-input'}}) }}
        </div>
    
        <button class="btn btn-primary" type="submit">Save</button>
        <a href="{{ path('app_type_show', {'id': type_demande.id}) }}" class="btn btn-secondary mt-2">Back to details</a>
        <a href="{{ path('app_statut_index') }}" class="btn btn-secondary">Back to  list</a>

        {{ form_end(form) }}

{% endblock %}
