{% extends 'inside.html.twig' %}

{% block title %}Détails SourceDemande{% endblock %}

{% block main %}
    <h1>SourceDemande Details</h1>

    <table class="table">
        <tr>
            <th>Numéro</th>
            <td>{{ source_demande.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ source_demande.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ source_demande.description }}</td>
        </tr>
    </table>

    <a href="{{ path('app_source_edit', {'id': source_demande.id}) }}" class="btn btn-warning">Modifier</a>
    <a href="{{ path('app_source_index') }}" class="btn btn-secondary">Back</a>
{% endblock %}
