{% if breadcrumbs is defined and breadcrumbs %}
    <div class="row container d-flex align-items-center mt-2 mb-4 shadow bg-body rounded h-5">
        <div class="col">
            <ol class="breadcrumb m-0">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb.url %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item active">{{ breadcrumb.name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class=" col-lg-4 text-end">
            {% if app.user %}
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">
                    Déconnexion
                </button>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Connexion</a>
            {% endif %}
        </div>
    </div>
{% endif %}

<!-- Logout Modal -->
{% if app.user %}
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Confirmation de déconnexion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir vous déconnecter ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>

{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const logoutModal = document.getElementById('logoutModal');

    if (logoutModal) {
        logoutModal.addEventListener('show.bs.modal', () => {
            console.log("Le modal de déconnexion est prêt à être affiché.");
        });

        logoutModal.addEventListener('hide.bs.modal', () => {
            console.log("Le modal de déconnexion est fermé.");
        });
    }
});
</script>


