{% extends 'inside.html.twig' %}

{% block title %}Créer un nouvel Utilisateur{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header">
            Créer un nouvel utilisateur
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="mt-4 row d-flex flex-column align-items-center">
                    <div class="col-md-10">
                        <div class="mb-3">
                            {{ form_label(form.nom, 'Nom') }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom de l\'utilisateur'}}) }}
                            {{ form_errors(form.nom) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.matricule, 'Matricule') }}
                            {{ form_widget(form.matricule, {'attr': {'class': 'form-control', 'placeholder': 'Matricule'}}) }}
                            {{ form_errors(form.matricule) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.password, 'Mot de passe') }}
                            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                            {{ form_errors(form.password) }}
                        </div>
                    </div>

                    <div class="my-4 col-md-10 d-flex justify-content-between">
                        <a href="{{ path('app_utilisateur_index') }}" class="btn btn-secondary w-50">Retour à la liste</a>
                        <button type="submit" class="btn btn-primary">Créer</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
