{% extends 'inside.html.twig' %}

{% block title %}Utilisateur Détails{% endblock %}

{% block main %}
    <h1>Utilisateur Details</h1>

    <table class="table">
        <tr>
            <th>Numéro</th>
            <td>{{ utilisateur.id }}</td>
        </tr>
        <tr>
            <th>Matricule</th>
            <td>{{ utilisateur.matricule }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>Groupes</th>
            <td>
                <ul>
                    {% for groupe in utilisateur.getGroupes() %}
                        <li>{{ groupe.titre }}</li>
                    {% else %}
                        <li>Aucun groupe</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-warning">Modifier</a>
    <a href="{{ path('app_utilisateur_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
