{% extends 'inside.html.twig' %}

{% block title %}Créer Groupe{% endblock %}

{% block main %}
<div class="card">
    <div class="card-header">
        Ajouter Groupe
    </div>
    <div class="card-body">
        {{ form_start(form) }}

        <div class="mt-4 row d-flex flex-column align-items-center">
            <div class="col-md-10">
                <!-- Nom -->
                <div class="mb-3">
                    {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom du groupe'}}) }}
                    {{ form_errors(form.nom) }}
                </div>

                <!-- Description -->
                <div class="mb-3">
                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description du groupe', 'rows': '5'}}) }}
                    {{ form_errors(form.description) }}
                </div>

                <!-- Hidden or Unrendered Fields -->
                <div class="mb-3">
                    {{ form_rest(form) }}
                </div>
            </div>

            <!-- Buttons -->
            <div class="my-4 col-md-10 d-flex justify-content-between">
                <a href="{{ path('app_groupe_index') }}" class="btn btn-secondary w-50 ">Retour</a>
                <button type="submit" class="btn btn-primary w-50">Enregistrer</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
