{% extends 'inside.html.twig' %}

{% block title %}Détails Groupe{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Détails Groupe</h1>

    <table class="table table-bordered">
        <tr>
            <th>Numéro</th>
            <td>{{ groupe.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ groupe.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ groupe.description }}</td>
        </tr>
    </table>

    <div class="mt-3">
        <a href="{{ path('app_groupe_index') }}" class="btn btn-secondary">Retour</a>
        <a href="{{ path('app_groupe_edit', {'id': groupe.id}) }}" class="btn btn-warning">Modifier</a>
        <a href="{{ path('app_groupe_permission', {'id': groupe.id}) }}" class="btn btn-warning">Gerer les permissions</a>
    </div>
{% endblock %}

