{% extends 'inside.html.twig' %}

{% block title %}Détails de l'activité{% endblock %}

{% block main %}
    <h1>Détails de l'activité</h1>

    <table class="table">
        <tr>
            <th>Numéro</th>
            <td>{{ activite.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ activite.titre }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ activite.description }}</td>
        </tr>
        <tr>
            <th>Date de début</th>
            <td>{{ activite.dateDebut ? activite.dateDebut|date('Y-m-d H:i') : 'N/A' }}</td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>{{ activite.dateFin ? activite.dateFin|date('Y-m-d H:i') : 'N/A' }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ activite.statut.nom }}</td>
        </tr>
    </table>

    <a href="{{ path('app_activite_edit', {'id': activite.id}) }}" class="btn btn-warning">Modifier</a>
    <a href="{{ path('app_activite_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
